obj/Hangman.csproj.nuget.dgspec.json
obj/Hangman.csproj.nuget.g.props
obj/Hangman.csproj.nuget.g.targets
obj/project.assets.json
obj/project.nuget.cache
obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
obj/Debug/net5.0/apphost.exe
obj/Debug/net5.0/Hangman.AssemblyInfo.cs
obj/Debug/net5.0/Hangman.AssemblyInfoInputs.cache
obj/Debug/net5.0/Hangman.assets.cache
obj/Debug/net5.0/Hangman.csproj.CoreCompileInputs.cache
obj/Debug/net5.0/Hangman.csproj.FileListAbsolute.txt
obj/Debug/net5.0/Hangman.csprojAssemblyReference.cache
obj/Debug/net5.0/Hangman.dll
obj/Debug/net5.0/Hangman.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net5.0/Hangman.genruntimeconfig.cache
obj/Debug/net5.0/Hangman.pdb
obj/Debug/net5.0/ref/Hangman.dll
.vscode/launch.json
.vscode/tasks.json
bin/Debug/net5.0/Hangman.deps.json
bin/Debug/net5.0/Hangman.dll
bin/Debug/net5.0/Hangman.exe
bin/Debug/net5.0/Hangman.pdb
bin/Debug/net5.0/Hangman.runtimeconfig.dev.json
bin/Debug/net5.0/Hangman.runtimeconfig.json
bin/Debug/net5.0/ref/Hangman.dll
